
<div id="main">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>سامانه حسابداری شخصی</mat-card-title>
      <mat-card-subtitle>ورود به اکانت</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/images/accounts1.png" alt="Photo of Accounting">
    <mat-card-content>
      <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>نام کاربری</mat-label>
        <input [(ngModel)]="username" matInput type="username" title="username">
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>کلمه عبور</mat-label>
          <input [(ngModel)]="password" matInput type="password" title="password">
        </mat-form-field>
      </div>
<div *ngIf="message!=''" class="message">
  {{message}}
</div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="check()" color="accent" mat-raised-button>ورود</button>
      <button color="accent" mat-raised-button>ثبت نام</button>
      <button color="accent" mat-button>فراموشی کلمه عبور</button>
    </mat-card-actions>
  </mat-card>

</div>
