.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('./../../../assets/images/accounts.png');
  background-size: cover;
}
#main
{
  display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;

}
.example-full-width {
  width: 100%;
}
.message{
  color: black;
  background-color: #ffd3d3;
  border: 1px solid red;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}
