table{
  border-collapse: collapse;
  width: 100%;
}
 td, th {
  border: 1px solid #ddd;
  padding: 7px;
}
table tr:nth-child(even){background-color: #4e4a4a;}
table tr:hover {background-color: rgb(62, 57, 134);}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #304c77;
  color: white;
}
table td{
  text-align: center;
}


